Simplex_ops/build/Debug/MinGW-Windows/Convertdouble.o
Simplex_ops/build/Debug/MinGW-Windows/Solve.o
Simplex_ops/build/Debug/MinGW-Windows/main.o
Simplex_ops/nbproject/Makefile-Debug.mk
Simplex_ops/nbproject/Makefile-Release.mk
Simplex_ops/nbproject/Makefile-impl.mk
Simplex_ops/nbproject/Makefile-variables.mk
Simplex_ops/nbproject/Package-Debug.bash
Simplex_ops/nbproject/Package-Release.bash
Simplex_ops/nbproject/configurations.xml
Simplex_ops/nbproject/private/Makefile-variables.mk
Simplex_ops/nbproject/private/c_standard_headers_indexer.c
Simplex_ops/nbproject/private/cpp_standard_headers_indexer.cpp
Simplex_ops/nbproject/private/launcher.properties
Simplex_ops/nbproject/project.xml
